

body{background-color: hsl(0, 0%, 8%);
}

div button{border-radius: 10px;
    font-weight: 600;
    background-color: #f9fafb;
padding: 8px 4px;
border-width: 1px;

}

button:hover{background-color: #e5e7eb;}